html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  background-color: #222834;
  margin: 0;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: min-content auto min-content;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

p {
  line-height: 1.6em;
  margin: 0;
}
